* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    background: url(img/utils/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(50%);
    font-family: 'Amandine';
}
.navbar {
    font-size: 30px;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 100px;
}
.logo {
    margin-right: auto;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    flex-direction: column;
    align-items: center;
    transition: 1s ease-out;
}
.sidebar a {
    width: 100%;
    justify-content: center;
    align-content: center;
    font-size: 40px;
    transition: font-size 0.5s;
}
.sidebar a img {
    scale: 1;
    transition: scale 0.5s;
}
.sidebar a:hover {
    font-size: 50px;
}
.sidebar a:hover img {
    scale: 1.2;
}
.headline {
    height: 800px;
    width: 100%;
    /*border: 8px solid white;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    font-family: 'Tiempos Headline';
    color: white;
}
.headline h1 {
    font-size: 200px;
}
.headline i {
    font-size: 100px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1%;
    border: 8px solid white;
}
.container .normal {
    align-items: flex-start;
    border: 8px solid red;
    /*
    height: 600px;
    rajouter le fade de l'image vers la gauche
    */
}
.container .reverse {
    align-items: flex-end;
    border: 8px solid blue;
    /*
    height: 600px;
    rajouter le fade de l'image vers la droite
    */
}